* {
  padding: 0px;
  margin: 0px;
  transition: 0.5 s;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

input, button {
    cursor: pointer;
  }

  .logo {
    background-color: #FE4880;
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 8px;
  }

  .logo a {
      text-decoration: none;
      font-weight: bold;
      color: white;
      text-transform: uppercase;
  }

  #navbar {
    background-color: #FE4880;
  }
  
  /* .navbar {
    padding: 0 10rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    color: white;
  } */

  .links {
    width: 100%;
    display: flex;
    justify-content: center;
    list-style: none;
    text-decoration: none;
    align-items: center;
    text-decoration: none;
  }
  
  
  .navbar li a {
      display: block;
       padding: 8px 15px;
       text-decoration: none;
       font-weight: bold;
       color: white;
       text-transform: uppercase;
       justify-content: space-between 
  }

  nav {
    align-items: center;
    padding: auto;
    background-color: blue;
    color: white;
    height: 8vh;
  }


  .links a {
    padding: 10px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
  }
  
  .navbar li a:hover {
    color: #FFCE00;
  }

  