.center {
    text-align: center;
}

.images {
    height: auto;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.smallImage {
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.scarlet {
    color: rgb(220, 1, 1);
}

.violet {
    color: rgb(198, 2, 198);
}

.green {
  color: green;
}

.red {
  color: red;
}

.blue {
  color: blue;
}

.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
  }
  .iframe-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  a:active {
    text-decoration: underline;
  }

  .list {
    list-style-type: none;
  }

